@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



body{
    margin: 0px;
    font-family: "Source Code Pro", monospace;
   
    background-color: #CEE5F2;
}

header{
    
    text-align: center;
    background-color: #7C98B3;
}
header h1{
    margin: 0px;
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}



.container nav{
    font-size: 24px;
    text-decoration: none;
  margin: 8px;
  padding: 8px;
 
}

.nose{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 2000;
}



.container nav a{
    text-decoration: none;
    color: black;
    margin: 8px;

}

.images{
display: flex;
justify-content: space-around;
align-items: center;


}

.images img{
    width: 200px;
    height: 200px;
    object-fit: none;/*Nose que es pero dice que ajusta la imagen */ /*Ya se que es*/
    margin-left: 20px;
}
.car{
    display: flex;
    justify-content: center;/*CENTRA las tarjetas y las une*/
}

.card{
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    
    font-family: "Chakra Petch", sans-serif;
    background-color: #7C98B3;
    text-align: center;

}

.card p{
    color: white;
}

.card:hover{
    box-shadow: 0px 5px 10px #000;
    transform: scale(1.10);
   
    
}
.kola{
    margin: 20px;
}

.card img{
    width: 100%;
    height: px;
}

.cardcontent h1{
    color: #CEE5F2;

}
.text{
    display: flex;

    justify-content: space-around;
    align-items: flex-start;
    margin-left: 20px;
    width: 1500px;
}

footer{
   justify-content: center;
    background-color: #536B78;
    margin: 0px;
    padding: 0px;
   display: flex;

}


.abajo{
    margin-top: 50px;
}
